*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
body{    
    background: linear-gradient(180.43deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.80) 100%);

    background-color: aqua;
    

}
.container{
    display: flex;
    flex-wrap: wrap;
    
}
.container>div{
    border: 2px solid;
}
.haeder{
flex-basis: 100%;
padding: 50px;
flex-grow: 0;
flex-shrink:1 ;
text-align: center;
background-color: rgb(68, 180, 156);

}
.main{
    flex-basis: 100%;
    padding: 50px;
    flex-grow: 1;
    flex-shrink:0 ;
    text-align: center;
    background-image: url(https://s7d2.scene7.com/is/image/TWCNews/Sunny_Clouds_1280x720?wid=1250&hei=703&$wide-bg$);
    background-size: cover;
    position: relative;
    height: 500px;
    transition: all 2s linear 
}
.weatherInfo{
    height: 200px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}
#weatherInput{
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 200px;
    height: 30px;
    margin:5px 70px;
font-size: 20px;
}
#weatherBtn{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 68, 255);
    color: white; 
    justify-content: center;
     margin: 15px 120px;
}
label{
    color: white;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
font-family: 'Urbanist', sans-serif;
font-weight: 600;
}
h1{
    font-family: 'Heebo', sans-serif;
font-family: 'Urbanist', sans-serif;
color: white;

}
.weatherAnimastion{
    height: 100px;
    width: 100px;
    animation-name:slidMe ; 
    animation-direction: alternate;         
    animation-duration: 10s;
    position: absolute;
    display: none;
    top: -20px;
    left: 327px;
}
img{
    height: 200px;
    transition: all 10s linear  }

@keyframes slidMe{
    0%{
        opacity: 0;
        top: 100%;
        left: 0;
    }
    50%{
        opacity: 1;
        top: 0;
        left: 25%;
    }
}
